* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;

}

.image-100 {
    max-width: 100%;
    display: block;
}


/* regole nav + main */
#main-block {
    height: calc(100vh - 80px);
}

/* regole nav */
#user-search {
    width: 250px;
    height: 100%;
    /* debug */
    background-color: aqua;
}

/* regole main */
main {
    width: calc(100vw - 250px);
    height: 100%;
    overflow-y: auto;
    /* debug */
    background-color: burlywood;
}

/* regole upgrade */
#upgrade {
    width: calc(100% - 250px);
    height: 80px;
    padding-right: 3rem;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
    position: fixed;
    display: flex;
    justify-content: end;
    align-items: center;
}

#upgrade #btn-upgrade {
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    border-radius: 1.5em;
    border: 2px solid #fff;
    padding: 0.7em 3em;
}
/* regole song picker */
#song-picker {
    margin-top: 90px;
    padding: 0 1rem;
}


/* regole playbar */
#playbar {
    height: 80px;
    /* debug */
    background-color: brown;
}